<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>All Events</h1>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Create New Event", new_event_path, class: "btn btn-primary" %>
  <% end %>
</div>

<% if @events.any? %>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
    <% @events.each do |event| %>
      <div class="col">
        <%= render 'event_card', event: event %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info">
    <p class="mb-0">No events have been created yet.</p>
    <% if user_signed_in? %>
      <%= link_to "Create the first event", new_event_path, class: "alert-link" %>
    <% end %>
  </div>
<% end %>
